<div class="contenedor">
  <div mat-dialog-actions>
    <h1>COCHES</h1>
    <mat-form-field>
      <mat-label>MATRICULA</mat-label>
      <input matInput [(ngModel)]="data.matricula" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>COLOR</mat-label>
      <input matInput [(ngModel)]="data.color" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>MARCA</mat-label>
      <input matInput [(ngModel)]="data.marca" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>MODELO</mat-label>
      <input matInput [(ngModel)]="data.modelo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>CONSUMO</mat-label>
      <input matInput [(ngModel)]="data.consumo" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>PRECIO</mat-label>
      <input matInput [(ngModel)]="data.precio" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>KMS</mat-label>
      <input matInput [(ngModel)]="data.kms" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>TIPO MOTOR</mat-label>
      <input matInput [(ngModel)]="data.tipoMotor" />
    </mat-form-field>

  </div>
</div>


